.Main_Body{
	background: url(../images/layout/BackGround.gif) #ffffff repeat-x left top; 
	width: 100%;
	height:100%;
}

#Main_Header {
	height: 140px
}

#Main_Header img {
	margin-top: 5px; 
	margin-left: 25px
}

#sidebar {
	float: left; 
	width: 480px;
}
#indexloadingDiv{
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 9999;
	background: #B12322; 
	text-align: center;
}